bcrypt
certifi
cffi
chardet
click
Flask
Flask-Bcrypt
Flask-Session
fpdf
idna
itsdangerous
Jinja2
kiwisolver
lml
MarkupSafe
numpy
pycparser
pyecharts-jupyter-installer
pyparsing
python-dateutil
python-dotenv
requests
six
SQLAlchemy
texttable
urllib3
Werkzeug
xlrd
xlwt
