<head>
    <style>
        .footer {
        display:grid;
        grid-template-columns: 30% 20% 20%;
        justify-content: center;
        box-shadow: 0px -5px 10px 0px #ffd700;
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black; 
        font-family: "Arial Narrow", Arial, sans-serif;
        }
        h2{color: #ffd700;
        text-align: 5px;}
        p{color:lightgrey;}
        </style>
</head>
<body>
<div class="footer">
    <div class="sec1">
         <h2>About us</h2>
        <p> Retail Banking is founded on 9th june 2020</p>
        <p> with the objective of learning and experiencing</p>
        <p>development of banking application software</p>
    </div>
    <div class="sec2"><h2>Services</h2>
      <p>Retail and consumer Banking</p>
      <p>Personal Internet Banking</p>
      <p>Bebit and Credit Cards</p>
    </div>
    <div class="sec3">
      <h2>Contact Us</h2>
      <p>Email:dummyemailid@tcs.com</p>
      <p>Contact no:123456789</p>
      <p>Address: Corporate office,India</p>
    </div>
  </div>
    
</div>
</body>