<header>
    <header>
        <div class="navbarlogo" style="margin-top: -25px;border-top:12px solid yellow; background-color: #333">
        <div class="navbar-innerlogo" style="background-color:#101010 !important;">
          <div class="container" style="background-color:#101010 !important;">
            <br>
                  <br>
                  <h1 style="color:yellow !important; text-align: center; font-size:70px; ">WELCOME TO RETAIL BANKING</h1>
                  <br>
            </div>
          </div>
        </div>
    </header>
    <div class="container">

      {% include "includes/nav.html" %}
    </div>
    <hr style="clear:both">
</header>
