<header>
    <header>
        <div class="navbarlogo" style="margin-top: -23px;border-top:6px solid yellow; background-color: #110A7A">
        <div class="navbar-innerlogo">
          <div class="container">
            <br>
                  <br>
                  <h1 style="color:white !important; text-align: center; ">WELCOME TO RETAIL BANKING</h1>
                  <br>
            </div>
          </div>
        </div>
    </header>
    <div class="container">
      <!-- {% if user in session %}
        {% include "includes/nav.html" %}
      {% endif %} -->
      {% include "includes/nav.html" %}
    </div>
    <hr style="clear:both">
</header>
