<nav>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('dashboard') }}" class="nav-link {% if home %}active{% endif %}">Home</a></li>
        
        {% if not session['user'] %}
        <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link {% if login %}active{% endif %}">Login</a></li>
        {% else %}
            {% if session['usert']=="executive" %}
            <li class="nav-item"><a href="{{ url_for('addcustomer') }}" class="nav-link {% if addcustomer %}active{% endif %}">addcustomer</a></li>
            {% endif %}
        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
        {% endif %}
    </ul>
</nav>