<div class="navbar" style="background-color:#ffff66 !important; padding: 50px 50px;">
  <a href="{{ url_for('dashboard') }}" style=" font-size:20px; " class="nav-link {% if home %}active{% endif %}">Home</a>
  {% if not session['user'] %}
  <a href="{{ url_for('login') }}" class="nav-link {% if login %}active{% endif %}">Log In</a>
  {% else %}
  {% if session['usert']=="executive" %}
  <div class="subnav">
    <button class="subnavbtn" style=" font-size:20px; ">Customer <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content" style="background-color:black !important;">
      <a href="{{ url_for('addcustomer') }}" class="nav-link {% if addcustomer %}active{% endif %}">Add Customer</a>
      <a href="{{ url_for('viewcustomer') }}" class="nav-link {% if viewcustomer %}active{% endif %}" >View Customer</a>
      <a href="{{ url_for('editcustomer') }}" class="nav-link {% if editcustomer %}active{% endif %}">Edit Customer</a>
      <a href="{{ url_for('customerstatus') }}" class="nav-link {% if customerstatus %}active{% endif %}">Customer Status</a>


    </div>
  </div>
  {% endif %}
  <div class="subnav">
    <button class="subnavbtn" style=" font-size:20px; ">Account <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content" style="background-color:black !important;">
      <a href="{{ url_for('addaccount') }}" class="nav-link {% if addaccount %}active{% endif %}">Add Account</a>
      <a href="{{ url_for('viewaccount') }}" class="nav-link {% if viewaccount %}active{% endif %}">View Account</a>
      <a href="{{ url_for('viewaccountstatus') }}" class="nav-link {% if viewaccountstatus %}active{% endif %}">Account Status</a>

  <a href="{{ url_for('statement') }}" class="nav-link {% if statement %}active{% endif %}">Account Statement</a>
       </div>
  </div>



  <a href="#contact" style=" font-size:20px; ">Contact Us</a>
  <a href="{{ url_for('logout') }}" class="nav-link" style=" font-size:20px; ">Logout</a>
  {% endif %}
</div>
<!--<nav>
    <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{ url_for('dashboard') }}" class="nav-link {% if home %}active{% endif %}">Home</a></li>
        
        {% if not session['user'] %}
        <li class="nav-item"><a href="{{ url_for('login') }}" class="nav-link {% if login %}active{% endif %}">Login</a></li>
        {% else %}
            {% if session['usert']=="executive" %}
            <li class="nav-item"><a href="{{ url_for('addcustomer') }}" class="nav-link {% if addcustomer %}active{% endif %}">Add Customer</a></li>
            <li class="nav-item"><a href="{{ url_for('viewcustomer') }}" class="nav-link {% if viewcustomer %}active{% endif %}">View Customer</a></li>
            <li class="nav-item"><a href="{{ url_for('customerstatus') }}" class="nav-link {% if customerstatus %}active{% endif %}">Customer Status</a></li>
            <li class="nav-item"><a href="{{ url_for('addaccount') }}" class="nav-link {% if addaccount %}active{% endif %}">Add Account</a></li>
            <li class="nav-item"><a href="{{ url_for('viewaccount') }}" class="nav-link {% if viewaccount %}active{% endif %}">View Account</a></li>
            <li class="nav-item"><a href="{{ url_for('viewaccountstatus') }}" class="nav-link {% if viewaccountstatus %}active{% endif %}">View Account Status</a></li>
            {% elif session['usert']=="teller" or session['usert']=="cashier" %}
            <li class="nav-item"><a href="{{ url_for('viewaccount') }}" class="nav-link {% if viewaccount %}active{% endif %}">View Account</a></li>
            <li class="nav-item"><a href="{{ url_for('statement') }}" class="nav-link {% if statement %}active{% endif %}">Account Statement</a></li>
            {% endif %}
        <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
        {% endif %}
    </ul>
</nav> -->
