{% extends "layout.html" %}

{% block title %}Add Account{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header" style="color:#000;text-align:center; font-weight: bold; font-size:22px ">
            Add Account
        </div>
        <div class="card-body">
            <form action="addaccount" method="POST">
            
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="cust_id" style="color:#000; font-weight: bold; font-size:18px ">Customer ID <span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="cust_id" id="cust_id" type="textfield" placeholder="Customer Id" required maxlength="9">
                </div>
                <div class="form-group input-group mb-3">
                    <label for="acc_type" style="color:#000; font-weight: bold; font-size:18px ">Choose Account Type:<span style="color:#ff0000"><sup>*</sup></span></label>
                    <select class="form-control" id="acc_type" name="acc_type">
                        <option value="current" style="color:#000; font-weight: bold; font-size:15px ">Current</option>
                        <option value="savings" style="color:#000; font-weight: bold; font-size:15px ">Savings</option>
                    </select>
                  </div>
                
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="amount" style="color:#000; font-weight: bold; font-size:18px ">Deposite Amount<span style="color:#ff0000"><sup>*</sup></span></label>
                   <input class="form-control" name="amount" id="amount" type="textfield" placeholder="amount" required>
                </div>
                <span style="color:#ff0000; font-weight:bold;"><p><b>(<sup> * </sup>) Fields are compulsory </b></p></span>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn float-left login_btn" style="color:#000; font-weight: bold; font-size:18px ">
                    <button class="reset_btn btn float-right" style="color:#000; font-weight: bold; font-size:18px ">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
