{% extends "layout.html" %}

{% block title %}Add Customer{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header">
            Add Customer
        </div>
        <div class="card-body">
            <form action="addcustomer" method="POST">
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="cust_ssn_id">Customer SSN Id</label>
                   <input class="form-control" name="cust_ssn_id" id="cust_ssn_id" type="textfield" placeholder="Customer SSN ID" required minlength="9" maxlength="9">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="name">Customer Name</label>
                   <input class="form-control" name="name" id="name" type="textfield" placeholder="Name" required maxlength="50">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="address">Address</label>
                   <input class="form-control" name="address" id="address" type="textfield" placeholder="Address" required maxlength="100">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="age">Age</label>
                   <input class="form-control" name="age" id="age" type="textfield" placeholder="Age" required maxlength="3">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="state">State</label>
                   <input class="form-control" name="state" id="state" type="textfield" placeholder="State" required maxlength="20">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="city">City</label>
                   <input class="form-control" name="city" id="city" type="textfield" placeholder="City" required maxlength="20">
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn float-left login_btn">
                    <button class="reset_btn btn float-right">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}