<!DOCTYPE html>
<html>
<head>
    <title>Retail Bank - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'index.js') }}" ></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    {% include "includes/header.html" %}
</div>

<div class="container">
    <div class="d-flex justify-content-center h-100">

        <!-- this code is used for showing any sucsees/worning/failur popup message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}

        {% endblock %}
    
    </div>

</div>
    {% include "includes/footer.html" %}
</body>
</html>    