<!DOCTYPE html>
<html>
<head>
    <title>Retail Bank - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/index.js') }}" ></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap-responsive.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/pluton.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style-responsive.css') }}" />
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
        
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/jquery.cslider.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/jquery.bxslider.css') }}" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</head>
<body>


    {% include "includes/header.html" %}

<div class="container my-5">
    <!-- this code is used for showing any sucsees/worning/failur popup message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <p style="font-weight: normal;">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="d-flex justify-content-center h-100">

        {% block content %}

        {% endblock %}
    
    </div>

</div>
    {% include "includes/footer.html" %}
</body>
</html>    
