<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/index.js') }}" ></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
<div class="d-flex justify-content-center h-100">
 <div class="card">
     <div class="card-header">
         <h3>Sign In</h3>
        
     </div>
     <div class="card-body">
          <form action="{{ url_for('login') }}" method="post">
             <div class="input-group form-group">
                 <div class="input-group-prepend">
                     <span class="input-group-text"><i class="fas fa-user"></i></span>
                 </div>
                <input class="form-control" name="username" type="text" placeholder="UserName" required maxlength="30">
                 
             </div>
             <div class="input-group form-group">
                 <div class="input-group-prepend">
                     <span class="input-group-text"><i class="fas fa-key"></i></span>
                 </div>
                  <input class="form-control" name="password" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{10,}$" placeholder="Password" required maxlength="30" id="passwordInput">

             </div>
             <div style="padding-left: 15px;color: white;">
               <input type="checkbox" id="showPass">Show Password
             </div>
            
             <div class="form-group">
                 <input type="submit" value="Login" class="btn float-right login_btn">
             </div>
             <br>
             <br>
             <a class="btn btn-warning" href="/" role="button">&#10094; Back to Home  </a>
         </form>
    
     {% with messages = get_flashed_messages(category_filter=["greet"]) %}
               {% if messages %}
         
               <div class="alert">
                 {% for message in messages %}
                 <p style="color: red;">{{message}}</p>
                 {% endfor %}
                
               </div>
               
                 {% endif %}
             {% endwith %}
     </div>

 </div>
</div>
</div>
<!-- <script>
function myFunction() {
var x = document.getElementById("myInput");
if (x.type === "password") {
x.type = "text";
} else {
x.type = "password";
}
}
</script> -->
</body>