{% extends "layout.html" %}

{% block title %}Add Customer{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header text-center">
            <h4>Account Status</h4>
        </div>
        <div class="card-body">
            {% if data %}
            <table class="table">
                <thead>
                  <tr>
                    <th> Customer Id</th>
                    <th> Account Id</th>
                    <th> Account Type</th>
                    <th> Account Status</th>
                    <th> Message</th>
                    <th>  Last Update</th>
                    <th> Operations</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                  <tr>
                    <td> {{ i.cust_id }}</td>
                    <td>  {{ i.acc_id }}</td>
                    <td> {{ i.acc_type }}</td>
                    <td>   {{ i.status }}</td>
                    <td>   {{ i.message }}</td>
                    <td>   {{ i.last_update }}</td>
                    <td><a href="javaScript:void(0)" class="refresh_acc" data-acc_id={{ i.acc_id }}>Refresh</a></td>
                  </tr>
                
                    
                  {%endfor%}
                  
                </tbody>
              </table>
            
            </div>
            <div class="row">
              <div class="form-group col-md-12 text-center">
                  <div class="float-right">
                      <a href="{{ url_for('viewaccountstatus') }}">
                          <button class="btn">Refresh the List</button>
                      </a>
                  </div>
              </div>
          </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
