{% extends "layout.html" %}

{% block title %}Account Status{% endblock %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>

        {% if data %}
<div class="container-fluid">
    <div class="row">
        <div class="input col-md-1 col-xs-2">
            <!--		Show Numbers Of Rows 		-->
            <select class="form-control" name="state" id="maxRows" style="margin-bottom: 10px;height: auto;width: auto;">
                <option value="5">5</option>
                <option value="10">10</option>
               
            </select>
        </div>
    </div>
    
    <div class="row col-md-12 col-xs-12">
        <div class="table-responsive">
            <h3 style="text-align: center;">Account Status</h3>
            <table class="table table-striped table-hover table-condensed table-bordered" id="Tabla">
                <thead>
                <tr class="info">

                    <th> Customer Id</th>
                    <th> Account Id</th>
                    <th> Account Type</th>
                    <th> Account Status</th>
                    <th> Message</th>
                    <th>  Last Update</th>
                    <th> Operations</th>
                      
                </tr>
                </thead>
                <tbody id="TablaFamilias">
                    {% for i in data %}
                    <tr>
                      <td> {{ i.cust_id }}</td>
                      <td>  {{ i.acc_id }}</td>
                      <td> {{ i.acc_type }}</td>
                      <td>   {{ i.status }}</td>
                      <td>   {{ i.message }}</td>
                      <td>   {{ i.last_update }}</td>
                      <td><a href="" id="btn_refresh">Refresh</a></td>
                    </tr>
                 
                      
                    {%endfor%}
    
                </tbody>
             
                <tfoot></tfoot>
            </table>
    
            <div>
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
          <div class="center">
            <a href="{{ url_for('viewaccountstatus') }}">
                <button class="btn">Refresh the List</button>
            </a>
          </div>
        </div>
    </div>
</div>

{% endif %}
        <script>
            $(document).ready(function () {
  getPagination('#Tabla');
  $('#maxRows option:last').prop('selected', true).trigger('change');
});

function getPagination(table) {

  $('#maxRows').on('change', function(e) {
    $('.pagination').html(''); // reset pagination
    var trnum = 0; // reset tr counter
    var maxRows = parseInt($(this).val()); // get Max Rows from select option
    var totalRows = $(table + ' tbody tr').length; // numbers of rows
    $(table + ' tr:gt(0)').each(function() { // each TR in  table and not the header
      trnum++; // Start Counter
      if (trnum > maxRows) { // if tr number gt maxRows

        $(this).hide(); // fade it out
      }
      if (trnum <= maxRows) {
        $(this).show();
      } // else fade in Important in case if it ..
    }); //  was fade out to fade it in
    if (totalRows > maxRows) { // if tr total rows gt max rows option
      var pagenum = Math.ceil(totalRows / maxRows); // ceil total(rows/maxrows) to get ..
      //	numbers of pages
      for (var i = 1; i <= pagenum;) { // for each page append pagination li
        $('.pagination').append('<li class"wp" data-page="' + i + '">\
<span>' + i++ + '<span class="sr-only">(current)</span></span>\
</li>').show();
      } // end for i
    } // end if row count > max rows
    $('.pagination li:first-child').addClass('active'); // add active class to the first li
    $('.pagination li').on('click', function() { // on click each page
      var pageNum = $(this).attr('data-page'); // get it's number
      var trIndex = 0; // reset tr counter
      $('.pagination li').removeClass('active'); // remove active class from all li
      $(this).addClass('active'); // add active class to the clicked
      $(table + ' tr:gt(0)').each(function() { // each tr in table not the header
        trIndex++; // tr index counter
        // if tr index gt maxRows*pageNum or lt maxRows*pageNum-maxRows fade if out
        if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
          $(this).hide();
        } else {
          $(this).show();
        } //else fade in
      }); // end of for each tr in table
    }); // end of on click pagination list


  });

  // end of on select change



  // END OF PAGINATION
}
// Radio button
$(function() {
    $('input[name="Transactions"]').on('click', function() {
        if ($(this).val() == 'Transactions') {
            $('#textboxes').show();
        }
        else if ($(this).val() == 'Dates') {
            $('#dates').show();
        }
        else {
            $('#textboxes').hide();
        }
    });
});

$(document).ready(function(){
    $('input[type="radio"]').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
});
     </script>
    </body>
</html>
 
{% endblock %}