{% extends "layout.html" %}

{% block title %}Add Customer{% endblock %}

{% block content %}
<div class = "row mb-3">
    <div class="card">
        <div class="card-header">
            Add Customer
        </div>
        <div class="card-body">
            {% if data %}
            <div class="row mb-4">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                Customer ID
                            </td>
                            <td>
                                {{ data.cust_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                SSN ID
                            </td>
                            <td>
                                {{ data.cust_ssn_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                {{ data.name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Age
                            </td>
                            <td>
                                {{ data.age }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address
                            </td>
                            <td>
                                {{ data.address }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                State
                            </td>
                            <td>
                                {{ data.state }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                City
                            </td>
                            <td>
                                {{ data.city }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mb-4">
                <div class="form-group">
                    <a href="{{ url_for('editcustomer') }}">
                        <button class="btn float-left">Edit</button>
                    </a>
                    <a href="{{ url_for('deletecustomer') }}">
                        <button class="btn float-right">Delete</button>
                    </a>
                </div>
            </div>
            {%else%}
            <form action="viewcustomer" id="view_cust" method="POST">
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="cust_id">Customer Id</label>
                   <input class="form-control" name="cust_id" id="cust_id" type="textfield" placeholder="Customer Id" maxlength="9">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3">Or</label>
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="cust_ssn_id">Customer SSN Id</label>
                   <input class="form-control" name="cust_ssn_id" id="cust_ssn_id" type="textfield" placeholder="Customer SSN ID" minlength="9" maxlength="9">
                </div>
                <div class="form-group">
                    <input type="submit" value="View" class="btn">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}