{% extends "layout.html" %}

{% block title %}Add Customer{% endblock %}

{% block content %}
<div class = "row col-md-8 my-5">
    <div class="card col-md-8 mx-auto px-0">
        <div class="card-header">
            View Account Details
        </div>
        <div class="card-body">
            {% if data %}
            {% for i in data %}
            <div class="row mb-4">
                <table class="col-md-12">
                    <tbody>
                        <tr>
                            <td>
                                Customer ID
                            </td>
                            <td>
                                {{ i.cust_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Account Id
                            </td>
                            <td>
                                {{ i.acc_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Account Type
                            </td>
                            <td>
                                {{ i.acc_type }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Balance
                            </td>
                            <td>
                                {{ i.balance }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                               Status
                            </td>
                            <td>
                                {{ i.status }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mb-4 col-md-12">
                <div class="form-group d-flex col-md-12">
                    {% if session['usert']=="executive" %}
                    <a href="{{ url_for('delaccount') }}">
                        <button class="btn float-right">Delete</button>
                    </a>
                    {% elif session['usert']=="teller" or session['usert']=="cashier" %}
                        {% if i.status == 'active' %}
                        <div class="col-md-4">
                            <a href="{{ url_for('deposit',acc_id=i.acc_id ) }}">
                                <button class="btn">Deposit</button>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ url_for('transfer',cust_id=i.cust_id,acc_id = i.acc_id) }}">
                                <button class="btn">Transfer</button>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ url_for('withdrow',acc_id=i.acc_id ) }}">
                                <button class="btn">Withdrow</button>
                            </a>
                        </div>
                        {% endif %}
                    {%endif%}
                </div>
            </div>
            {%endfor%}
            {%else%}
            <form action="viewaccount" id="view_acc" method="POST">
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="cust_id">Customer Id</label>
                   <input class="form-control" name="cust_id" id="cust_id" type="textfield" placeholder="Customer Id" minlength="9" maxlength="9">
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3">Or</label>
                </div>
                <div class="form-group input-group mb-3">
                    <label class="m-auto pr-3" for="acc_id">Account Id</label>
                   <input class="form-control" name="acc_id" id="acc_id" type="textfield" placeholder="Account ID" minlength="9" maxlength="9">
                </div>
                <div class="form-group">
                    <input type="submit" value="View" class="btn">
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}